
main {
  padding: 20px;
}

article h2 {
  color: #333;
}

article h3 {
  color: #555;
}

article ul, article ol {
  margin: 10px 0;
  padding-left: 20px;
}

footer {
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  top: 150px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.image {
  cursor: pointer;
}

.image img {
  border-radius: 8px;
  width: 350px;
  height: 350px;
}

.info-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.info-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
         
*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes girarLogo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

header .logo {
  margin-right: 15px; /* Espacio entre logo y título */
}

header .logo img {
  width: 40px; /* Tamaño reducido del logo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}



header {
  display: flex;

}

.titulo{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

nav {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > a > img {
  width: 60px;
  margin-bottom: 0;
  animation-name: girarLogo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

